<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utils.TestFailureLog"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="GeneralConfiguration">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="testCases.GeneralConfigurationTests">
                <methods>
                    <include name="testGetAppTitle"/>
                    <include name="testGetAppDefaultDimensions"/>
                </methods>
            </class>
            <class name="testCases.PdfConvertLogicTests">
                <methods>
                    <include name="testPdfExtractor"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="ConvertLogic">
        <groups>
            <run>
                <exclude name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="testCases.PdfConvertLogicTests"/>
        </classes>
    </test>
</suite>